.Loader_container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Loader_dualRing {
      display: inline-block;
      width: 80px;
      height: 80px;
    }
    .Loader_dualRing:after {
      content: " ";
      display: block;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid #ff6600;
      border-color: #ff6600 transparent #ff6600 transparent;
      animation: Loader_dualRing 1.2s linear infinite;
    }
    @keyframes Loader_dualRing {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    