.ItemListContainer{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    
    flex-direction: column;
    padding-top: 15px;

}

.ItemListContainer_contenido{
    height: 100%;
    display: grid;
    grid-template-columns: 200px auto;
    align-items: flex-start;
    padding: 10px;
}

.ItemListContainer_filter{
    border: 1px solid #E0E0E0; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.ItemListContainer_filter span{
    font-weight: 700;
    opacity: .5;
}



.ItemListContainer_filter hr{
    border: none;
    height: 1px;
    color: #E0E0E0;
    background-color: #E0E0E0;
    border: 1px solid ;
    width: 100%;
    margin: 10px;
}

.ItemListContainer_filter ul{
    list-style: none;
    
    width: 100%;
    padding: 5px;
}

.ItemListContainer_filter ul li{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    
}

.ItemListContainer_filter ul li:hover{
    background-color: #EEEEEE;
    cursor: pointer;
}

.ItemListContainer_filterAdd a{
    text-decoration: none;
    color: #000000;
}


.ItemListContainer_filterAdd li span{
    padding-left: 10px;
    transition: all 0.5s ease;
    position: relative;
    right: 10px;
}

.ItemListContainer_filterAdd li:hover > span{
    position: relative;
    right: 0px;
}

.ItemListContainer_filterRemove a{
    text-decoration: none;
    color: #000000;
}


.ItemListContainer_filterRemove li span{
    padding-left: 10px;
    transition: all 0.5s ease;
    position: relative;
    right: 10px;
}

.ItemListContainer_filterRemove li:hover > span{
    position: relative;
    transform: scale(1.2);
    opacity: 1.5;
}

.ItemListContainer_filterClear{
    background-color: #EEEEEE;
    cursor: pointer;
    text-align: center;
    border: transparent;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    font-size: 14px;
}
.ItemListContainer_filterClear:hover{
    background-color: #cccccc;
}


.ItemListContainer_orderContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ItemListContainer_order{
    width: 100%;
    padding: 0px 15px 0px 15px;
}

.ItemListContainer_order2{
    background-color: #F5F5F5;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.ItemListContainer_select{
    height: 2rem;
    font-size: 17px;
    background-color: #FAFAFA;
    border-radius: 5px;
    padding: 5px;
    border:1px solid #cccccc;
    outline: none;
    transition: all ease 0.2s;
    /*box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);*/
}
.ItemListContainer_select:focus{
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
}


  .ItemListContainer_filterMinMax{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5px;
  }

  .ItemListContainer_filterMinMax input{
    width: 45%;
    padding: 5px;
    border-radius: 5px;
    
    background-color: #FFFFFF;
    border:1px solid #cccccc;
    outline: none;
  }

  .ItemListContainer_filterMinMax input::-webkit-outer-spin-button,
  .ItemListContainer_filterMinMax input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

