.Contacto_container{
    width: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 2rem;
    justify-content: flex-end;
    align-items: center;
    
}

.Contacto_formContainer{
    background-color: #FAFAFA;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.Contacto_form{
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

.Contacto_input{
    border-color: #cccccc;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}

.Contacto_sumbit{
    margin-top: 10px;
    padding: 5px 30px 5px 30px;
    height: 46px;
    color: #fff;
    background-color: var(--black-900);
    font-size: 17px;
    transition: all 0.3s;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.Contacto_sumbit:hover{
    cursor: pointer;
    background-color: var(--black-800);
}

.Contacto_subtexto{
    font-weight: 300;
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    .Contacto_container{
        justify-content: center;
    }
  }